# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Veritabanı
*.db
*.sqlite3

# Loglar ve Geçici Dosyalar
*.log
demo_output.txt
output.txt
test.txt
logs-*.txt
lcz.txt
dt.json
dt2.json
dt_ase.json
v8out.json
scratch/__pycache__/
